html
	head
		title JSTalks 2015 - SPA Architecture
		link(rel="stylesheet",type="text/css",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",type="text/css",href="/lib/reveal.js/css/reveal.css")
		link(rel="stylesheet",type="text/css",href="/lib/reveal.js/css/theme/white.css")
		link(rel="stylesheet",type="text/css",href="/css/style.css")
	body
		.reveal
			.slides
				section
					h3 JSTalks 2015 - SPA Architecture

		//- lib
		script(src="/lib/jquery/dist/jquery.js")
		//-script(src="/lib/q/q.js")
		script(src="/lib/headjs/dist/1.0.0/head.min.js")
		script(src="/lib/reveal.js/js/reveal.js")
		//- app
		script(src="/js/init.js")